<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width: device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>

    <header>
        <div class="contHeader">
            <div id="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" />
                </a>
            </div>
            <div class="search">
                <form action="/" name="formRegistrar" method="get">

                    <input type="text" placeholder="Buscar productos, marcas..." name="buscar" class="search">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="centralizar">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                    crédito
                </p>
            </div>
            <nav>
                <div class="navCont">

                    <div class="nav1">
                        <ul>
                            <li>
                                <a href="#">
                                    Ofertas
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Tiendas Oficiales
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Vender
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Ayuda
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="nav2">
                        <ul>
                            <li>
                                <a href="/register">
                                    Creá tu cuenta <i class="fas fa-address-card"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/login">
                                    Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Mis compras <i class="fas fa-shopping-basket"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </nav>
            <div class="burger-menu centralizar">
                <i class="fas fa-bars azul"></i>
            </div>

        </div>
    </header>

    <main>



        <form action="/" name="formRegistrar" method="get">



            <section id="formulario">

                <h2 class="block"> Login</h2>

                <div class="columna">
                    <input type="email" minlength="4" required name="email" placeholder="Nombre de usuario"
                        title="Nombre de usuario" />
                </div>

                <div class="columna">
                    <input type="password" required name="pass" title="Contraseña" placeholder="Contraseña" />
                </div>


                <div class="radio widt100">
                    <input type="submit" value="Enviar" title="¿Listo?" />
                </div>

            </section>
        </form>


    </main>

    <footer>

        <section>
            <i class="fa-solid fa-credit-card iconoPie"></i>
            <h4>
                Pagá con tarjeta o en efectivo
            </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>

        <section>
            <i class="fa-solid fa-gift iconoPie"></i>
            <h4>
                Envío gratis desde $ 2.500
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield iconoPie"></i>
            <h4>
                Seguridad, de principio a fin
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>

        <section>
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>

    </footer>
</body>

</html>