<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width: device-width, initial-scale=1">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>

    <header>
        <div class="contHeader">
            <div id="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" />
               </a>
            </div>
            <div class="search">
                <form action="/" name="formRegistrar" method="get">

                    <input type="text" placeholder="Buscar productos, marcas..." name="buscar" class="search">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="centralizar">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                    crédito
                </p>
            </div>
            <nav>
                <div class="navCont">

                    <div class="nav1">
                        <ul>
                            <li>
                                <a href="#">
                                    Ofertas
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Tiendas Oficiales
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Vender
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Ayuda
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="nav2">
                        <ul>
                            <li>
                                <a href="/register">
                                    Creá tu cuenta <i class="fas fa-address-card"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/login">
                                    Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Mis compras <i class="fas fa-shopping-basket"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </nav>
            <div class="burger-menu centralizar">
                <i class="fas fa-bars azul"></i>
            </div>

        </div>
    </header>

    <main>



        <form action="/" name="formRegistrar" method="post">



            <section id="formulario">

                <h2 class="block"> Registrarme</h2>

                <div class="columna">
                    <input type="text" required name="nombre" placeholder="Ingrese su nombre" title="Ingresa tu nombre" />
                </div>
                <div class="columna">
                    <input type="text" required name="apellido" placeholder="Ingrese su apellido" title="Ingresa tu apellido" />
                </div>
                <div class="columna">
                    <input type="email" required name="email" placeholder="micorreo@mail.com" title="Mi e-mail" />
                </div>
                <div class="columna">
                    <label> Fecha de nacimiento:</label><br>
                    <input type="date" required name="dd/mm/aaaa" placeholder="dd/mm/aaaa" />
                </div>
                <div class="columna">
                    <input type="text" required name="domicilio" placeholder="Ingrese su domicilio"
                        title="Ingrese su domicilio" />
                </div>
                <div class="columna">
                    <label> Perfil de usuario:</label><br>
                    <div class="radio">
                        <input type="radio" name="sexo" value="hombre" checked>
                    </div>
                    <div class="radioLabel">
                        Hombre
                    </div>

                    <div class="radio">
                        <input type="radio" name="sexo" value="mujer">
                    </div>
                    <div class="radioLabel">
                        Mujer
                    </div>
                </div>

                <div class="columna">
                    <label> Intereses:</label><br>
                    
                    <div class="radio">
                        <input type="checkbox"  name="int1" value="Electro">
                    </div>
                    <div class="radioLabel">
                        Electro
                    </div>

                    <div class="radio">
                        <input type="checkbox" name="int2" value="Moda">
                    </div>
                    <div class="radioLabel">
                        Moda
                    </div>

                    <div class="radio">
                        <input type="checkbox" name="int3" value="Hogar">
                    </div>
                    <div class="radioLabel">
                        Hogar
                    </div>

                    <div class="radio">
                        <input type="checkbox" name="int4" value="Jugueteria">
                    </div>
                    <div class="radioLabel">
                        Jugetería
                    </div>

                    <div class="radio">
                        <input type="checkbox" name="int5" value="Jugueteria">
                    </div>
                    <div class="radioLabel">
                        Jugetería
                    </div>

                    <div class="radio">
                        <input type="checkbox" name="int6" value="Jugueteria">
                    </div>
                    <div class="radioLabel">
                        Vida Sana
                    </div>

                </div>

                <div class="columna">
                    <label> Foto Perfil:</label><br>
                    <input type="file" name="foto"
                        title="Foto" />
                </div>

                <div class="columna">
                    <label> Contraseña:</label><br>
                    <input type="password" required name="pass" placeholder="Nueva contraseña" />
                </div>

                <div class="columna">
                    <label> Confirmar contraseña:</label><br>
                    <input type="password" required name="cPass" placeholder="Confirmar contraseña" />
                </div>
              
                <div class="radio">
                    <input type="submit" value="Enviar" title="¿Listo?" />
                </div>
                <div class="radioLabel">
                    <input type="reset" value="Cancelar" />
                </div>

            </section>
        </form>


    </main>

    <footer>

        <section>
            <i class="fa-solid fa-credit-card iconoPie"></i>
            <h4>
                Pagá con tarjeta o en efectivo
            </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>

        <section>
            <i class="fa-solid fa-gift iconoPie"></i>
            <h4>
                Envío gratis desde $ 2.500
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield iconoPie"></i>
            <h4>
                Seguridad, de principio a fin
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>

        <section>
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>

    </footer>
</body>

</html>