* {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

header {
    background-color: #EAC926;
}

#logo {
    margin: 0.5rem;
}

header nav ul {
    margin-left: 0px;
    padding-left: 0px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

.fa-search,
input {
    background-color: #ffffff;
    padding: 2px;
    border: 1px solid #333;
    border-radius: 2px;
}

.azul {
    background-color: #1259c3;
    color: #fff;
    padding: 7px;
    border-radius: 6px;
    font-size: 24px;
}

main {
    background-color: #ebebeb;
    padding-bottom: 14px;
    width: 90%;
    margin: 0px auto;
}

h2 {
    font-size: 24px;
}

.precio {
    font-size: 18px;
    margin-bottom: 0px;
}

.descuentos {
    font-size: 16px;
    color: #39b54a;
}

.descripciones {
    font-size: 16px;
}

.centralizar {
    text-align: center;
}

article {
    text-align: center;
    margin: 10px auto 0px;
    background-color: #fff;
    width: 70%;
    display: block;
    overflow: hidden;

}

article div {
    text-align: left;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.iconoPie {
    font-size: 2em;
    color: #1259c3;
}

h4 {
    margin-bottom: 0px;
}

section p {
    margin-top: 0px;
}

footer section {
    text-align: center;
    width: 50%;
    margin: 24px auto;
}