
    <header>
        <div class="contHeader">
            <div id="logo">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" />
               </a>            </div>
            <div class="search">
                <form action="/search" name="formRegistrar" method="get">

                    <input type="text" placeholder="Buscar productos, marcas..." name="product" class="search">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="centralizar">
                <p><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                    crédito
                </p>
            </div>
            <nav>
                <div class="navCont">

                    <div class="nav1">
                        <ul>
                            <li>
                                <a href="/offers">
                                    Ofertas
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Tiendas Oficiales
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Vender
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Ayuda
                                </a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="nav2">
                        <ul>
                            <li>
                                <a href="/register">
                                    Creá tu cuenta <i class="fas fa-address-card"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/login">
                                    Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Mis compras <i class="fas fa-shopping-basket"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

            </nav>
            <div class="burger-menu centralizar">
                <i class="fas fa-bars azul"></i>
            </div>

        </div>
    </header>